<!DOCTYPE html>
<html lang="pl" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main Menu</title>
    <link rel="stylesheet" href="../../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" type="text/css">
    <link rel="stylesheet" href="../static/css/main.css" th:href="@{/css/main.css}" type="text/css">
</head>
<body bgcolor="#99CC66">
<div class="container">
    <h2>Control panel</h2>
    <a href="/employeeform" class="btn btn-primary">Add new employee</a>
    <a href="/viewemployees" class="btn btn-secondary">All Employees List</a>
    <a href="/carform" class="btn btn-warning">Add new car</a>
    <a href="/viewcar" class="btn btn-danger">All cars list</a>
</div>
</body>
</html>