<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Employee Add Form</title>
    <link rel="stylesheet" href="../../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" type="text/css">
    <link rel="stylesheet" href="../static/css/main.css" th:href="@{/css/main.css}" type="text/css">
</head>
<body>
<hr>
<div class="container">
    <h2>Car Form</h2>
    <div class="form-group">
        <form action="#" class="form-group" th:action="@{/save_car}" th:object="${car}" method="post">
            <input type="hidden" th:field="*{id}">
            <input type="text" class="form-control" th:field="*{name}" placeholder="Brand"><br>
            <input type="text" class="form-control" th:field="*{model}" placeholder="Model"><br>
<!--            <input type="text" class="form-control" th:field="*{maxSpeed}" placeholder="maxSpeed"><br>-->
            <input type="text" class="form-control" th:field="*{registrationDate}" placeholder="Registration Date"><br>
<!--            <input type="hidden" class="form-control" th:field="*{employees.id}" placeholder="Employee ID"><br>-->

<!--            <select class="form-control" name="item.id" required>-->
<!--                <option value="default">Select employee</option>-->
<!--                <option th:each="var : ${employees}"-->
<!--                        th:value="${var.id}" ></option>-->
<!--&lt;!&ndash;                        th:text="${var.firstName} + ' ' + ${var.lastName}"></option>&ndash;&gt;-->
<!--            </select>-->

            <input type="submit" class="btn btn-danger">
        </form>
        <hr>
    </div>
</div>

</body>
</html>